@model MVCSeccion47.Models.LoginUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Login Page - Ace Admin</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="../assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/ace.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" />
    <![endif]-->
    <link rel="stylesheet" href="../assets/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.js"></script>
    <![endif]-->
</head>

<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                @*<i class="ace-icon fa fa-leaf green"></i>*@
                                <span class="red">Sección</span>
                                <span class="grey" id="id-text2">47</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">@*&copy; Rudolf*@</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header  lighter bigger">
                                            <i class="ace-icon fa fa-user-secret red2"></i>
                                            INGRESA TU INFORMACIÓN
                                        </h4>

                                        <div class="space-6"></div>

                                        @using (Html.BeginForm("LoginSuccess", "Login", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.users, htmlAttributes: new {@class = "form-control", placeholder = "Usuario" })
                                                        @*<input type="text" class="form-control" placeholder="Usuario" />*@
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.PasswordFor(m => m.pass, htmlAttributes: new { @class = "form-control", placeholder = "Contraseña" })
                                                        @*<input type="password" class="form-control" placeholder="Contraseña" />*@
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">

                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">INGRESAR</span>
                                                    </button>

                                                </div>

                                                <div class="space-4"> @ViewBag.Message</div>
                                            </fieldset>
                                        }

                                        <div class="social-or-login center">
                                            <span class="bigger-110">U S U A R I O S</span>
                                        </div>

                                        <div class="space-6"></div>
                                    </div><!-- /.widget-main -->
                                    <div class="toolbar clearfix">
                                        <div>
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">


                                            </a>
                                        </div>

                                        <div>
                                            <a href="#" data-target="#signup-box" class="user-signup-link">

                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->
                        </div><!-- /.position-relative -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="../assets/js/jquery.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="../assets/js/jquery1x.js"></script>
    <![endif]-->
    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
    </script>

</body>
</html>